body {
  background-color: #f4f8fa;
  font-family: sans-serif;
  color: #3728aa !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.nav-link.active {
  color: #3728aa !important;
}

.btn,
.btn:focus {
  background-color: #ff7535;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  letter-spacing: .2px;
  text-align: center;
  width: 158px;
}

.btn:hover {
  background-color: #ffd650;
}

.logo {
  color: #ff7535 !important;
  font-weight: bold;
}

.guessed {
  font-size: 2em;
}

.delete-btn,
.delete-btn:focus {
  width: 50px;
}

.alert-input {
  width: 220px;
}
